/*index.css*/
html {background-color:lavender;}

h1 {text-align: center; 
    color:darkslateblue;
}

h2,h3 {color:darkmagenta; 
}

body {margin: 5em;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

table {border-collapse: collapse;
    background-color: lightblue;

}
div {text-align: center;}

a:link { color:green;}

a:visited { color: red;}

a:hover { color:blue;}

a:active { color:deeppink;}